@charset "UTF-8";

@font-face {
    font-family: 'Designer' ;
    src: url('fonts/DESIGNER.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caviar Dreamns';
    src: url('fonts/CaviarDreams.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



:root {
    /* CORES E FONTES */
    --cor0: #012030;
    --cor1: #13678A;
    --cor2: #45C4B0;
    --cor3: #9AEBA3;
    --cor4: #DAFDBA;
    --cor5: #000;
    --cor6: #fff;
    --cor7: #032333e3;
    --cor8: #278cb8;
    --cor9: #032333;
    --font1: 'Designer', Arial;
    --font2: 'Caviar Dreamns', Arial


}

.col-1 {
    width: 8.33%;
}
.col-3{
    width: 25%;
}
.col-7 {
    width: 58.33%;
}



header {
    background-image:linear-gradient(#012030, #032333e3);
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
}

.container {
    display: none;
}

.containerMax {
    width: 100%;
    display: flex;
    justify-content: center;
}

.boxTitulo {
    width: 40vw;
    margin-left: 2vw;
    
}

.imgHome {
    width: 8.33%;
}

.divTitulo {
    text-align: center;
    margin-left: 4vw;
    width: 30vw;
}

.titulo {
    font-family:var(--font1);
    font-size: 3em;
    color: var(--cor6);
    margin-left: 40%;

}


.usuario {
    width: 40vw;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    float: left;
}

.usuario p {
    color: var(--cor6);
    font-family: var(--font2);
    margin-top: 15px;
    margin-right: 2px;
    
}

.usuario img {
    width: 55px;
    height: 55px;
    float: right;
    margin-right: 10px;
}

main {
    height: 88vh;
    background-color:var(--cor7);
}
.buttonMenu {
    height: 8vh;
    display: flex;
    justify-content: space-around;
    margin-left: 5vw;
    margin-right: 8vw;
}

.buttonAcess {
    background-color: var(--cor8);
    color: var(--cor6);
    font-weight: 500;
    width: 150px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 57px;
    border: 1px;
    margin-top: 2px;
}

.buttonAcess:hover{
    background-color: var(--cor2);
    box-shadow: 1px 1px 4px #7be7d793;
}

a {
    color: var(--cor6);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

footer {
    background-image: linear-gradient(#032333e3, #012030);
    height: 5vh;
}

footer p {
    font-family: var(--font2);
    color: var(--cor6);
    text-align: center;
}

.homePage {
    width: 100vw;
    height: 80vh;  
    display: flex;
    justify-content: center;
}


#buttonNavSparkle {
    display: none;
}

.nav-menu-sparkle {
    display: none;
}

/*====== Página Home ===== */

.areaHomePage {
    margin-top: 3vh;
    width: 90%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.479);
    justify-content: center;
    border-radius: 5px;

}

/*====== Página Cliente =======*/

.pesquisaCliente {
    display: flex;
}

#pcliente {
    width: 70%;
    font-style: italic;
}

.buttonPesquisar {
    width: 30%;
}

/*====== Página Cadastro ==== */

.form {
    margin-top: 5vw;
}

.caixaRazaoSocialeCodigo {
    width: 45vw;
    display: flex;
}


.bairroCidadeBP {
    width: 45vw;
}

.cepLogradouro {
    display: flex;
    width: 85vw;
}


#iNumero {
    width: 50vw;
}

.labelNumero {
    margin-right: 31vw;
}

.areaCadastroCliente {
    margin-top: 3vh;
    width: 90%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 5px;
}
.subtituloAreaCadastro {
    color: var(--cor3);
    text-align: center;
}

.numCompSparkle {
    display: none;
}



/* ====== Configurações Tela 570px - SMARTPHONE ======== */

@media only screen and (max-width: 570px) {

    /*==== Configs gerais ====*/

    .container {
        display: flex;
        width: 10vw;
    }

    .boxTitulo {
        display: none;
    }

    .divTitulo {
        margin-left: 20vw;
    }

    .usuario {
        width: 32%;
        height: 7vh;
        display: flex;
        justify-content: space-between;
        float: right;
    }

    .usuario img {
        width: 45px;
        height: 45px;
        float: right;
        margin-right: 10px;
    }

    

    .imgHomeSparkle {
        display: none;
    }

    .titulo {
        float: left;
        font-family:var(--font1);
        font-size: 2.7rem;
        color: var(--cor6);
    
    }
    .buttonMenu {
        display: none;
    }
    #buttonNavSparkle {
        display: inline;
        
    }

    .div-menu-sparkle {
        width: 50%;
    }

    .bg-sparkle {
        background-color: 0;
        border: 0px;
    }

    .bg-menu-sparkle {
        background-image: linear-gradient(#103446, #2e5264 );
        border-radius: 3px;
 
    }

    .nav-menu-sparkle {
        display: flex;
        width: 100%;
        
    }

    .link-menu-sparkle {
        font-family: Arial, Helvetica, sans-serif;
        color: var(--cor6);
        padding-left: 2vw;
    }

    .link-menu-sparkle:hover {
        background-color: var(--cor2);
        color: var(--cor5);
        box-shadow: 1px 1px 2px var(--cor2);
    }

    .pesquisaCliente {
        border: 1px solid white;
        margin: 2px;
    }
    .pesquisaCliente label {
        color: white;
        font-style: italic;
    }
    .pesquisaCliente button {
        width: 25vw;
        background-color: var(--cor2);
    }

    /* ===Configs Home=======*/
    .homePage {
        width: 100vw;
        height: 79vh;  
        display: flex;
        justify-content: center;
    }
    
    .areaHomePage {
        margin-top: 3vh;
        width: 90%;
        height: 80vh;
        background-color: rgba(0, 0, 0, 0.479);
        border-radius: 5px;
    
    }

    .clienteTotal {
        margin: 4px;
        margin-top: 5vh;
        width: 98%;
        border: 1px solid white
    }
    .subtituloAreaHome {
        color: var(--cor3);
        text-align: center;
    }

    .infoBox {
        color: var(--cor6);
        margin-left: 2vw;
    }
    .infoBoxSaldo {
        text-align: center;
    }

    .valorClienteTotal {
        margin: 4px;
        margin-top: 10px;
        width: 98%;
        border: 1px solid white
    }

    .marketingTotal {
        border: 1px solid white;
        height: 25vh;
        margin: 4px;
    }


    /*====Configs Clientes*/
    .areaClienteCadastrado {

        margin-top: 3vh;
        width: 90%;
        height: 80vh;
        background-color: rgba(0, 0, 0, 0.479);
        border-radius: 5px;

    }

    .areaClienteCadastradoFuncao {
        border: 1px solid white;
        height: 72vh;
        margin: 5px;

    }

    .boxClienteCadastrado {
        border: 1px solid white;
        margin: 1px;
        margin-bottom: 3px;
        background-image: linear-gradient(#45C4B0, #bafdd0 );
        color:var(--cor0);
    }
    .button {
        border-radius: 10px;
        border: 1px solid var(--cor2);
    }

    /*==Configs Cadastros ==*/

    .form {
        margin-top: 1vw;
    }

    .caixaRazaoSocialeCodigo {
        width: 90vw;
        display: block;
    }


    .bairroCidadeBP {
        width: 90vw;
    }

    .cepLogradouro {
        display: block;
        width: 90vw;
    }

    .areaCadastroDeCliente {
        margin-top: 3vh;
        width: 90%;
        height: 84vh;
        background-color: rgba(0, 0, 0, 0.479);
        border-radius: 5px;

    }
    

    /*==Configs Marketing===*/
    .areaMarketing {
        margin-top: 3vh;
        width: 90%;
        height: 80vh;
        background-color: rgba(0, 0, 0, 0.479);
        border-radius: 5px;
    }

    .boxMarketing {
        border: 1px solid white;
        margin: 2px;
    }
    .infoBoxMarketing {
        color:var(--cor6);
    }

    .infoBoxMarketingPrazo {
        width: 25px;
        height: 15px;
        background-color: yellow;
    }


    .form-group {
        width: 90%;
        margin-left: 4vw;
    }
    .labelSparkle {
        color: var(--cor6);
        margin-bottom: 2px;
    }
    .labelComplemento {
        margin-left: 20vw;
    }
    .numCompSparkle {
        display: flex;
    }
    #iNumero {
        width: 30vw;
    }
    #iComplemento {
        width: 50vw;
        margin-left: 2vw;
    }
    .form-check {
        margin-top: 3px;
    
    }
    #ciclo45 {
        margin-left: 15vw;
    }
    .btnSubmitSparkle {
        display: flex;
        margin-left: 37vw;
        background-color: var(--cor2);
        border: 1px solid white;
    }


    

}

/*==== Configurações Telas 1000px - TABLET === */
 @media only screen and (min-width: 571px) {

    /*==Configs Gerais*/

    .containerMax {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .container {
        width: 1vw;
        display: flex;
        margin: 0;
    }

    .boxTitulo {
        width: 10vw;
        margin-left: 2vw;
        
    }

    .divTitulo {
        text-align: center;
        margin-left: 3vw;
    }
    
    .titulo {
        font-family:var(--font1);
        font-size: 3em;
        color: var(--cor6);
        margin-left: 20%;
    
    }

    .imgHomeSparkle {
        width: 32px;
        margin-top: 4px;
        
    }

    .usuario {
        width: 28vw;
        height: 7vh;
        display: flex;
    
    }
    .usuario p {
        color: var(--cor6);
        font-family: var(--font2);
        margin-top: 15px;
        margin-left: 3px;
        float: left;
        
    }
    .usuario img {
        width: 45px;
        height: 45px;
        display: flex;
        float: right;
        
    }

    main {
        height: 88vh;
        background-color:var(--cor7);
    }
    .buttonMenu {
        margin-bottom: 0;

    }

    /*=====Config Home====*/

    .homePage {
        width: 100%;
        height: 76vh;  
        display: flex;
        justify-content: center;
        
    }

    .areaHomePage {
        height: 100%;
    }

    .clienteTotal {
        margin: 1vw;
        margin-top: 5vh;
        width: 98%;
        height: 25%;
        border: 1px solid white
    }
    .subtituloAreaHome {
        color: var(--cor3);
        text-align: center;
        margin-top: 1vh;
    }
    .infoBox {
        color: var(--cor6);
        margin-left: 2vw;
    }
    .valorClienteTotal {
        margin: 1vw;
        margin-top: 10px;
        width: 98%;
        border: 1px solid white
    }
    .infoBoxSaldo {
        text-align: center;
    }
    .marketingTotal {
        border: 1px solid white;
        height: 25vh;
        margin: 1vw;
    }

    /*===Configs Clientes*/
    .areaClienteCadastrado {

        margin-top: 3vh;
        width: 90%;
        height: 76vh;
        background-color: rgba(0, 0, 0, 0.479);
        border-radius: 5px;

    }
    .subtituloAreaCadastro {
        color: var(--cor3);
        text-align: center;
        margin-top: 2vh;
    }

    .areaClienteCadastradoFuncao {
        border: 1px solid white;
        height: 69vh;
        margin: 1vw;
    }

    .pesquisaCliente {
        border: 1px solid white;
        margin: 1vw;
    }
    .button {
        border-radius: 10px;
        border: 1px solid var(--cor2);
        width: 40%;
    }

    .boxClienteCadastrado {
        border: 1px solid white;
        margin: 1px;
        margin-bottom: 3px;
        background-image: linear-gradient(#45C4B0, #bafdd0 );
        color:var(--cor0);
    }

    /*=====Configs Cadastro======*/
    .areaCadastroDeCliente {
        margin-top: 3vh;
        width: 90%;
        height: 77vh;
        background-color: rgba(0, 0, 0, 0.479);
        border-radius: 5px;
    }

    #iRazaoSocial {
        width: 40vw;
    }

    #iCNPJCPF {
        width: 36vw;
    }

    .form-group {
        width: 90%;
        margin-left: 4vw;
    }

    .labelSparkle {
        color: var(--cor6);
        margin-bottom: 2px;
    }
    .labelComplemento {
        margin-left: 24vw;
    }
    .numCompSparkle {
        display: flex;
    }

    #iCEP {
        width: 30vw;
    }

    #iLogradouro {
        width: 45vw;
    }

    #iNumero {
        width: 35vw;
    }
    #iComplemento {
        width: 50vw;
        margin-left: 3vw;
    }

    .bairroCidadeBP {
        display: flex;
    }
    
    #iBairro {
        width: 40vw;
    }

    #iCidade {
        width: 36vw;
    }
    .form-check {
        margin-top: 3px;
    
    }
    #ciclo45 {
        margin-left: 15vw;
    }
    .btnSubmitSparkle {
        display: flex;
        margin-left: 37vw;
        background-color: var(--cor2);
        border: 1px solid white;
        height: 4vh;
    }

    /*===Configs Marketing*/

    .areaMarketing {
        margin-top: 3vh;
        width: 90%;
        height: 76vh;
        background-color: rgba(0, 0, 0, 0.479);
        border-radius: 5px;
    }

    .boxMarketing {
        border: 1px solid white;
        margin: 1vw;
    }
    .infoBoxMarketingPrazo {
        width: 25px;
        height: 15px;
        background-color: yellow;
    }
    .infoBoxMarketing {
        color:var(--cor6);
        margin: 1vw;
    }


 }

 @media only screen and (min-width: 1200px) {

    /*======= DESKTOP ========*/

    .divTitulo {
        text-align: center;
        margin-left: 5vw;
        width: 30vw;
    }

    .titulo {
        font-family:var(--font1);
        font-size: 3em;
        color: var(--cor6);
        margin-left: 42%;
    
    }

 }